/*------------------------------------------------------------------------*/
/* Header */
/*------------------------------------------------------------------------*/

#header
{
	background: #AAA top center;	
	background-size: cover;
	background-image: url(../img/bg_header.jpg);
	color: #FFF;
	text-align: right;
	position: relative;
	margin: 0 0 20px 0;
}

#header h1
{
	float:left;
	font-size: 28px;
	font-weight: bold;
	line-height: 80px;
	margin: 0px 0px 0px 10px;
	text-align: left;
	
	/* CSS3 */
	text-shadow: 1px 1px 2px #000;
}

#header h2
{
	font-size: 24px;
	margin: 0px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #000;
}

#header h3
{
	font-size: 18px;
	margin: 0px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #000;
}

#header img 
{ 
	margin: 5px 0px; 
}

#header #logo
{
	background-image: url(../img/logo.png);	
	background-size: cover;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
	height: 40px;
	left: 15px;
	position: absolute;
	width: 40px;
	z-index: 10;
	margin-top: 1px;
}


#container #header #logo
{
	background-image: url(../img/logo_40px.png);	
}
/*------------------------------------------------------------------------*/
/* Table */
/*------------------------------------------------------------------------*/

.table
{
	clear: both;
	width: 100%;
	margin-bottom: 15px;
	border: 0px solid #669900;
	border-collapse: collapse;
	color: #666666;
	font-size: 12px;
}

.tr_bgcolor1 { background-color: #FFFFFF; }

.table tbody tr:nth-child(even) { background-color: #E8F4FB; }

.table tbody tr:hover { background-color: #FFFFCC; }
.table tbody tr.checked { background-color: #B5DDF2; }

.table th
{
	border: 1px solid #AAA;
	color: #333;
	cursor: default;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}

.main.table th { cursor: pointer; }

.table th:first-child { width: 20px; }

/*.table th:hover	{ background-color: #36AAFF; border: 1px solid #36AAFF; }*/

.table th img { margin: 1px 5px; }

.table td
{
	cursor: pointer;
	border: 1px solid #AAAAAA;
	padding: 5px;
	vertical-align: top;
}

.table td ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.table td ul li
{
	margin: 0px;
	padding: 0px;
}

/*------------------------------------------------------------------------*/
/* Footer */
/*------------------------------------------------------------------------*/

#footer
{
	/*background: url(../img/bg_menu_main.png) repeat-x;*/
	/*background: #AAA url(../img/bg_header.jpg) bottom;*/	
	background: #FFF;
	color: #666;
	font-size: 11px;
	padding: 5px;
	text-align: center;
	/*text-shadow: 1px 1px 2px #999;*/
	
	/* CSS3 */
/*background-size: contain;
	-moz-background-size: contain;
	
	box-shadow: 0px 0px 5px #333;
	-moz-box-shadow: 0px 0px 5px #333;
	-webkit-box-shadow: 0px 0px 5px #333;*/
}


/* End of file backoffice_theme.css */
/* Location: assets/modules/backoffice/css/backoffice_theme.css */